<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GridNavigator2/src/GridNavigator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GridNavigator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GridNavigator2"/>
</launchConfiguration>
